@mixin button($bg-color: #e2e2e2) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    background-color: $bg-color;
    transition: all .3s ease;
}

.kld--button {
    @include button();
}

.kld--button-hover {
    transform: scale(1.03);
}

@each $key, $val in $colors {
    .kld--button-#{$key} {
        @include button($val);
        &:hover {
            background-color: lighten($val, 9);
        }
    }

    .kld--button-outline-#{$key} {
        @include button(#fff);
        &:hover {
            background-color: lighten($val, 5);
        }
    }

    .kld--button-complement-#{$key} {
        @include button($val);
        color: light-comp($val);
        &:hover {
            color: $val;
            background-color: light-comp($val);
        }
    }
}
