%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.kld--navbar {
    @extend %flex-layout;
    padding: $base-padding $base-padding * 2;
    box-shadow: $base-box-shadow;

    .kld--site-title {
        font-size: $font-size-large;
    }

    .kld--container {
        @extend %flex-layout;
    }
}

@each $key, $val in $colors {
    .kld--navbar-background-color-#{$key} {
        @extend .kld--navbar;
        background-color: $val;
    }
}