// theme colors
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

// colors
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "green": #19e635,
    "orange": #ffa600,
    "purple": #9900ff,
    "gray": #808080,
    "black": black,
    "white": white,
);

// spacing
$base-padding: 1.5rem;
$button-padding: 1.5rem 3rem;
$base-margin: 1rem;

// borders
$base-border-thickness: .10rem;
$base-border-radius: .7rem;

// box shadow
$base-box-shadow: -1px 1.5px 5px #171c1f;

// font size
$base-font-size: 1.6rem;
$font-size-small: $base-font-size * 0.75;
$font-size-large: $base-font-size * 1.5;
$font-size-extra-large: $base-font-size * 2;
$font-size-extra-extra-large: $base-font-size * 3;