@import 'variables';

@each $key, $val in $colors {
  .kld--text-color-#{$key} {
    color: $val;
  }

  .kld--text-hover-#{$key}{
    &:hover {
      color: $val;
    }
  }

  .kld--background-color-#{$key} {
    background-color: $val;
  }

  @if ($val != black and $val != white) {
    // light variations
    @for $i from 1 through 9 {
      .kld--text-color-#{$key}-light-#{$i} {
        color: mix(white, $val, $i * 10%);
      }

      .kld--text-hover-#{$key}-light-#{$i} {
        &:hover {
          color: mix(white, $val, $i * 10%);
        }
      }

      .kld--background-color-#{$key}-light-#{$i} {
        background-color: mix(white, $val, $i * 10%);
      }
    }

    // dark variations
    @for $i from 1 through 9 {
      .kld--text-color-#{$key}-dark-#{$i} {
        color: mix(black, $val, $i * 10%);
      }

      .kld--text-hover-#{$key}-dark-#{$i} {
        &:hover {
          color: mix(black, $val, $i * 10%);
        }
      }

      .kld--background-color-#{$key}-dark-#{$i} {
        background-color: mix(black, $val, $i * 10%);
      }
    }
  }
}
