@use 'sass:math';
@import 'variables';

$utilities: (
    "padding": (
        "prefix": "padding",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-padding, 2),
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
            "button-base": .5rem 1rem,
            "button-1": .5rem 2.5rem,
            "button-2": 1rem 3rem,
            "button-3": 2rem 5rem,
            "button-4": 3rem 7rem,
            "button-5": 4rem 9rem,
        ),
    ),
    "padding-left": (
        "prefix": "padding-left",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-padding, 2),
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
        ),
    ),
    "padding-right": (
        "prefix": "padding-right",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-padding, 2),
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
        ),
    ),
    "padding-top": (
        "prefix": "padding-top",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-padding, 2),
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
        ),
    ),
    "padding-bottom": (
            "auto": auto,
        "prefix": "padding-bottom",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-padding, 2),
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
        ),
    ),
    "margin": (
        "prefix": "margin",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-margin, 2),
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
        ),
    ),
    "margin-left": (
        "prefix": "margin-left",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-margin, 2),
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
        ),
    ),
    "margin-right": (
        "prefix": "margin-right",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-margin, 2),
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
        ),
    ),
    "margin-top": (
        "prefix": "margin-top",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-margin, 2),
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
        ),
    ),
    "margin-bottom": (
        "prefix": "margin-bottom",
        "values": (
            "auto": auto,
            "0": 0,
            "half": math.div($base-margin, 2),
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
        ),
    ),
    "opacity": (
        "prefix": "opacity",
        "values": (
            "10": 0.1,
            "20": 0.2,
            "30": 0.3,
            "40": 0.4,
            "50": 0.5,
            "60": 0.6,
            "70": 0.7,
            "80": 0.8,
            "90": 0.9,
            "100": 0.10
        ),
    ),
    "border-radius": (
        "prefix": "border-radius",
        "values": (
            "default": 1rem,
            "none": 0,
            "extra-small": .3rem,
            "small": .5rem,
            "medium": 1.5rem,
            "large": 2rem,
            "full": 50%
        ),
    ),
    "border": (
        "prefix": "border",
        "values": (
            "default": .1rem solid #000000
        ),
    ),
    "display": (
        "prefix": "display",
        "values": (
            "none": none,
            "block": block,
            "flex": flex,
            "inline": inline,
            "inline-block": inline-block
        )
    ),
    "font-size": (
        "prefix": "font-size",
        "values": (
            "small": $font-size-small,
            "large": $font-size-large,
            "extra-large": $font-size-extra-large,
            "extra-extra-large": $font-size-extra-extra-large
        )
    ),
    "text-align": (
        "prefix": "text-align",
        "values": (
            "center": center,
            "end": end,
            "justify": justify,
            "left": left,
            "right": right,
            "start": start
        ),
    ),
    "justify-content": (
        "prefix": "justify",
        "values": (
            "flex-start": flex-start,
            "flex-end": flex-end,
            "center": center,
            "space-between": space-between,
            "space-around": space-around,
            "space-evenly": space-evenly,
            "initial": initial,
            "inherit": inherit,
        )
    ),
    "align-items": (
        "prefix": "align-items",
        "values": (
            "normal": normal,
            "stretch": stretch,
            "center": center,
            "flex-start": flex-start,
            "flex-end": flex-end,
            "start": start,
            "end": end,
            "baseline": baseline,
            "initial": initial,
            "inherit": inherit,
        )
    ),
    "min-width": (
        "prefix": "min-width",
        "values": (
            "percent-20": 20%,
            "percent-30": 30%,
            "percent-40": 40%,
            "percent-50": 50%,
            "percent-60": 60%,
            "percent-70": 70%,
            "percent-80": 80%,
            "percent-90": 90%,
            "percent-100": 100%,
            "dvw-20": 20dvw,
            "dvw-30": 30dvw,
            "dvw-40": 40dvw,
            "dvw-50": 50dvw,
            "dvw-60": 60dvw,
            "dvw-70": 70dvw,
            "dvw-80": 80dvw,
            "dvw-90": 90dvw,
            "dvw-100": 100dvw
        )
    ),
    "max-width": (
        "prefix": "max-width",
        "values": (
            "percent-20": 20%,
            "percent-30": 30%,
            "percent-40": 40%,
            "percent-50": 50%,
            "percent-60": 60%,
            "percent-70": 70%,
            "percent-80": 80%,
            "percent-90": 90%,
            "percent-100": 100%,
            "dvw-20": 20dvw,
            "dvw-30": 30dvw,
            "dvw-40": 40dvw,
            "dvw-50": 50dvw,
            "dvw-60": 60dvw,
            "dvw-70": 70dvw,
            "dvw-80": 80dvw,
            "dvw-90": 90dvw,
            "dvw-100": 100dvw
        )
    ),
    "min-height": (
        "prefix": "min-height",
        "values": (
            "percent-20": 20%,
            "percent-30": 30%,
            "percent-40": 40%,
            "percent-50": 50%,
            "percent-60": 60%,
            "percent-70": 70%,
            "percent-80": 80%,
            "percent-90": 90%,
            "percent-100": 100%,
            "dvw-20": 20dvh,
            "dvh-30": 30dvh,
            "dvh-40": 40dvh,
            "dvh-50": 50dvh,
            "dvh-60": 60dvh,
            "dvh-70": 70dvh,
            "dvh-80": 80dvh,
            "dvh-90": 90dvh,
            "dvh-100": 100dvh
        )
    ),
    "max-height": (
        "prefix": "max-height",
        "values": (
            "percent-20": 20%,
            "percent-30": 30%,
            "percent-40": 40%,
            "percent-50": 50%,
            "percent-60": 60%,
            "percent-70": 70%,
            "percent-80": 80%,
            "percent-90": 90%,
            "percent-100": 100%,
            "dvw-20": 20dvh,
            "dvh-30": 30dvh,
            "dvh-40": 40dvh,
            "dvh-50": 50dvh,
            "dvh-60": 60dvh,
            "dvh-70": 70dvh,
            "dvh-80": 80dvh,
            "dvh-90": 90dvh,
            "dvh-100": 100dvh
        )
    ),
    "flex-direction": (
        "prefix": "flex-direction",
        "values": (
            "row": row,
            "row-reverse": row-reverse,
            "column": column,
            "column-reverse": column-reverse,
            "initial": initial,
            "inherit": inherit
        )
    ),
    "float": (
        "prefix": "float",
        "values": (
            "inline-start": inline-start,
            "inline-end": inline-end,
            "left": left,
            "right": right,
            "none": none
        )
    )
);

// Generate utility class
@each $property, $map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k, $v in $values {
        @if($k == "default"){
            .#{$prefix} {
                #{$property}: $v;
            }
        } @else {
            .#{$prefix}-#{$k}{
                #{$property}: $v;
            }
        }
    }
}